{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <title>Profile</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar__left">
            <div class="facebook_logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png" alt="facebook">
            </div>
            <div class="input_search">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search Facebook" name="search" id="search">
            </div>
        </div>
        <div class="navbar__middle">
            <div class="option" data-icon-name="Home">
                <i class="fas fa-home"></i>
            </div>
            <div class="option" data-icon-name="Friends">
                <i class="fas fa-user-friends"></i>
            </div>
            <div class="option" data-icon-name="Watch">
                <i class="fas fa-video"></i>
            </div>
            <div class="option" data-icon-name="Marketplace">
                <i class="fas fa-store"></i>
            </div>
            <div class="option" data-icon-name="Groups">
                <i class="fas fa-users"></i>
            </div>
        </div>
        <div class="navbar__right">
            <div class="right_option" data-icon-name="Create">
                <i class="fas fa-plus"></i>
            </div>
            <div class="right_option" data-icon-name="Messenger">
                <i class="fab fa-facebook-messenger"></i>
            </div>
            <div class="right_option" data-icon-name="Notifications">
                <i class="fas fa-bell"></i>
            </div>
            <div class="right_option" data-icon-name="Account">
                <i class="fas fa-sort-down"></i>
            </div>
        </div>
    </div>
</body>
</html>